<div class='container'>
  <div class='container__half'>
    <div class='container__title'>Robot list ({{actionService.robots.length}}/20) :</div>
    <div class='container__robots'>
      <div *ngFor='let robot of actionService.robots; let i = index'
        class='container__robots-robot'
        [class.disabled]='robot.unavailability'
        [matMenuTriggerFor]="menu">
        <div class='container__robots-robot-icon' [attr.data-cy]='"robot_"+i'>
          <span class="material-icons">memory</span>
          <app-status [status]='robot.actions[0]'></app-status>
        </div>
        <span *ngIf='robot.unavailability'>Unavailability: {{robot.unavailability | number:'0.0-2'}}s</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
          *ngFor='let action of actions'
          [style.backgroundColor]='action.value | action'
          (click)='launch(robot, action.value)'
          [attr.data-cy]='"robot_"+i+"_action_"+action.key'>
            {{action.value}}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class='container__half'>
    <div class='container__title'>
      Ressources
      <button mat-raised-button [matMenuTriggerFor]="captionMenu">Caption</button>
      <mat-menu #captionMenu="matMenu">
        <div *ngFor='let action of actions'
          class='caption-action'
          [style.backgroundColor]='action.value | action'>
          <div>{{action.value}}</div>
        </div>
        <div class='caption-action'>
          Foos <span class="material-icons">add_circle_outline</span>
        </div>
        <div class='caption-action'>
          Bars <span class="material-icons">add_circle</span>
        </div>
        <div class='caption-action'>
          Foobar <span class="material-icons">send</span>
        </div>
        <div class='caption-action'>
          Euro <span class="material-icons">euro</span>
        </div>
      </mat-menu>
    </div>
    <div class='container__ressources'>
      <div>
        <div>Foos : {{actionService.foos}}</div>
        <div class='container__ressources-list' *ngIf='actionService.foos'>
          <span class="material-icons" *ngFor='let f of [].constructor(actionService.foos)'>add_circle_outline</span>
        </div>
      </div>
      <div>
        <div>Bars : {{actionService.bars}}</div>
        <div class='container__ressources-list' *ngIf='actionService.bars'>
          <span class="material-icons" *ngFor='let b of [].constructor(actionService.bars)'>add_circle</span>
        </div>
      </div>
      <div>
        <div>Foobars : {{actionService.foobar}}</div>
        <div class='container__ressources-list' *ngIf='actionService.foobar'>
          <span class="material-icons" *ngFor='let b of [].constructor(actionService.foobar)'>send</span>
        </div>
      </div>
      <div>
        <div>Money : {{actionService.money}}</div>
        <div class='container__ressources-list' *ngIf='actionService.money'>
          <span class="material-icons" *ngFor='let b of [].constructor(actionService.money)'>euro</span>
        </div>
      </div>
    </div>
  </div>
</div>