.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #34495e;
    height: 100%;
    box-sizing: border-box;

    &__title {
        font-size: 2em;
        line-height: 2em;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__half {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px;
        background-color: #95a5a6;
        border-radius: 5px;
        overflow: auto;

        &:first-child {
            margin-right: 20px;
        }
    }

    &__robots {
        height: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: auto;

        &-robot {
            display: flex;
            align-items: center;
            width: calc(50% - 10px);
            background-color: #ecf0f1;
            border-radius: 5px;
            margin: 5px;

            &-icon {
                cursor: pointer;
                position: relative;
                display: flex;

                & > span {
                    font-size: 3em;
                }
            }

            & .disabled {
                color: gray;
            }
        }
    }

    &__ressources {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #ecf0f1;
        border-radius: 5px;
        border-bottom: 1px solid #95a5a6;
        margin-bottom: 10px;
        overflow: auto;

        &-list {
            overflow: auto;
            display: flex;
        }
    }
}

.caption {

    &-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }
}